<!-- Alert -->
<div class="status alert alert-danger" *ngIf="code>200" style="left:0px; width: 100%;">
    <span>
        {{status}}
        <span aria-hidden="true" (click)="cancelPopUp()" style="float: right;padding-left: 20px; cursor: pointer;"><i class="fa fa-times-circle-o"></i></span>
    </span>
</div>
<div class="status alert alert-success" *ngIf="code==200" style="left:0px; width: 100%;">
    <span>
        You have successfully registerd.
        <a [routerLink]="['/login']" > Login Now </a>
        <span aria-hidden="true" (click)="cancelPopUp()" style="float: right;padding-left: 20px; cursor: pointer;"><i class="fa fa-times-circle-o"></i></span>
    </span>
</div>
<!-- Alert End-->

<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" id="registrationForm" #registerForm="ngForm" (ngSubmit) = "onSubmit()">
                <h3 class="box-title m-b-20">Sign Up</h3>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" placeholder="First Name" name="firstname"
                               #firstname="ngModel" [(ngModel)]="registerDriver.user.name" required>
                        <span class="bar"></span>
                        <div *ngIf="!firstname.valid && firstname.touched">
                            <small class="error" *ngIf="firstname.errors.required">First name is required.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" name="lastname" placeholder="Last Name"
                               #lastname="ngModel" [(ngModel)]="registerDriver.driver.last_name" required>
                        <span class="bar"></span>
                        <div *ngIf="!lastname.valid && lastname.touched">
                            <small class="error" *ngIf="lastname.errors.required">Last name is required.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="email" placeholder="Email" name="email"
                               #email="ngModel" [(ngModel)]="registerDriver.user.email"
                               pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" required>
                        <span class="bar"></span>
                        <div *ngIf="!email.valid && email.touched">
                            <small class="error" *ngIf="email.errors.required">Email is required.</small>
                            <small class="error" *ngIf="email.errors.pattern">Email is not valid.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" placeholder="Password" name="password"
                               #password="ngModel" [(ngModel)]="registerDriver.user.password"  required>
                        <span class="bar"></span>
                        <div *ngIf="password.touched">
                            <small class="error" *ngIf="password.length > 0 && password.length < 8">Weak password.</small>
                            <small class="warn" *ngIf="password.length >= 8 && password.length < 12">Medium password.</small>
                            <small class="success" *ngIf="password.length >= 12">Strong password.</small>
                        </div>
                        <div *ngIf="!password.valid && password.touched">
                            <small class="error" *ngIf="password.errors.required">Password is required.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" placeholder="Confirm Password" name="confirmpassword"
                               #confirmpassword="ngModel" [(ngModel)] = "registerDriver.user.password_confirmation" required>
                        <span class="bar"></span>
                        <div *ngIf="!confirmpassword.valid && confirmpassword.touched">
                            <small class="error" *ngIf="confirmpassword.errors.required">Confirmation required.</small>
                        </div>
                        <div *ngIf="confirmpassword.touched">
                            <small class="error" *ngIf="validationForm.checkPassword(registerDriver.user.password_confirmation, registerDriver.user.password)">Password is not match with your entry. Please enter again..</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" name="licenseNo" placeholder="Driving License No"
                               #licenseNo="ngModel" [(ngModel)]="registerDriver.driver.license_no" required>
                        <span class="bar"></span>
                        <div *ngIf="!licenseNo.valid && licenseNo.touched">
                            <small class="error" *ngIf="licenseNo.errors.required">License no is required.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" name="nfcCardNo" placeholder="NFC card id"
                               #nfcCardNo="ngModel" [(ngModel)]="registerDriver.driver.nfc_id" required>
                        <span class="bar"></span>
                        <div *ngIf="!nfcCardNo.valid && nfcCardNo.touched">
                            <small class="error" *ngIf="nfcCardNo.errors.required">NFC card id is required.</small>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-success p-t-0">
                            <input id="checkbox-signup" type="checkbox" required="" class="filled-in chk-col-light-blue">
                            <label for="checkbox-signup"> I agree to all <a href="javascript:void(0)">Terms</a></label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center p-b-20">
                    <div class="form-group text-center" *ngIf="!loader" style="margin-top: 10px;">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light"
                                    [disabled] = "!registerForm.form.valid">Sign Up</button>
                        </div>
                    </div>
                    <div class="loader" *ngIf="loader"></div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        Already have an account? <a class="text-info m-l-5" [routerLink]="['/login']"><b>Sign In</b></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
